*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* UTILITY */
.d-flex{
    display: flex;
}

i:hover{
    color: black;
    cursor: pointer;
}

.margin_0{
    margin: 0;
}

.br_50{
    border-radius: 50%;
}

.w_70p{
    width: 70px;
}

.w_100p{
    width: 100px;
}

/* //UTILITY */
.site_content{
    width: 100vw;
    height: 100vh;
    background-color: rgba(219, 219, 210);
    flex-direction: column;
    align-items: center;
}

.green_strip{
    height: 100px;
    min-height: 100px;
    width: 100%;
    background-color:rgb(0, 150, 138);
}

.container{
    width: 1430px;
    height: 800px;
    position: relative;
    top: -80px;
    overflow-y: hidden;
}

.windowApp{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
/* SEZIONE SIDEBAR */
.sidebar{ 
    height: 100%;
    width:30%;
}

.nameUser{
    height: 80px;
    width: 100%;
    background-color: #eaeaea;
    align-items: center;
}

.nameUser .imageUser{
    width: 20%;
    margin-left: 10px;
}

.nameUser .name{
    width: 30%;
}

.nameUser p{
    text-transform: capitalize;
    font-size: 20px;
}

.iconUser{
    width: 50%;
    text-align: right;
    font-size: 30px;
    color: #b1b1b1;
    margin-right: 20px;
}

.iconUser i{
    padding: 0 5px;
}

.notification{
    height: 13%;
    min-height: 100px;
    background-color: #8edafc;
    align-items: center;
}

.notification .iconNotification{
    margin: 0 20px;
}

.notification .iconNotification i{
    border-radius: 50%;
    font-size: 2em;
    padding: 20px;
    color: #8edafc;
    background-color:#f2fbff;
}

.notification .addNotification p{
    font-size: 20px;
}

.notification .addNotification a{
    color: #5d7485;
    font-size: 18px;
}

.notification .addNotification a:hover{
    color: black;
}

.contactSearch{
    height: 73px;
    background-color: #eaeaea;
    line-height: 80px;
}

.input-container{
    width: 100%;
    position: relative;
}

.input-container i{
    position: absolute;
    top:50%;
    left: 8%;
    transform: translateY(-50%);
    color: #b1b1b1;
    font-size: 1.5em;
}

.inputTextSearch{
    width: 94%;
    margin-left: 3%;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    outline: none;
    padding-left: 70px;
    font-size: 1em;
}

.contactsUser{
    height: 68%;
    background-color: #eaeaea;
    overflow-y: scroll;
}

.contactsUser li{
    height: 136px;
    list-style: none;
    border-bottom: 1px solid #eaeaea;
    background-color: white;
    cursor: pointer;
}
.contactsUser li:hover{
    background-color: #e9ebeb;
}

.contactsUser li img{
    height: 100px;
    align-self: center;
    margin-left: 30px;
}

.contactsUser li #name{
    font-size: 1.5em;
    margin: 30px 0 30px 30px;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
}
.cardContact{
    width: 300px;
    flex-flow: wrap;
}

.cardContact #date{
    margin-top: 36px;
    font-size: 1em;
    color: #babbba;
}

.cardContact #text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    margin-left: 30px;
    color: #babbba;
}


/* SEZIONE CHAT */
.screenChat{ 
    height: 100%;
    width: 70%;
}

.contactChat{
    height: 80px;
    background-color: #eaeaea;
    border-left: 1px solid #b1b1b1;
    align-items: center;
}
.contactChat .imageContactChat{
    width: 100px;
    margin-left: 10px;
}

.contactChat .nameContactChat{
    width: calc(50% - 100px);
}
.contactChat .nameContactChat p:first-child{
    font-size: 20px;
}
.contactChat .nameContactChat p:last-child{
    color: #6e7476;
    margin-top: 5px;
}

.viewChat{
    height: 80%;
    background-image: url(../img/mine.jpg);
    overflow-y: scroll;
}

.viewChat .messageActive{
    flex-direction: column;
}

.viewChat .messageActive:nth-child(1){
    margin-top: 50px;
}

.viewChat .sent, .viewChat .received{
    width: max-content;
    max-width: calc(50% - 70px);
    min-width: 280px;
    min-height: 80px;
    border-radius: 10px;
    margin: 10px 70px;
    padding: 10px;
    font-size: 25px;
}

.viewChat .sent{
    background-color: #d5f9ba;
    flex-direction: column;
    justify-content: center;
    align-self: flex-end;
}

.viewChat .received {
    background-color: white;
    flex-direction: column;
    justify-content: center;
}

.viewChat p.date{
    font-size: 15px;
    color: #babbba;
    align-self: end;
}

.viewChat p.messageEliminated{
    color:#b1b1b1;
    text-align: center;
}

/* set fa-angle */
.viewChat .received, .viewChat .sent{
    position: relative;
}

.viewChat i{
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    color: #b1b1b1;
}

.viewChat .received:hover i,.viewChat .sent:hover i{
    display: block;
}

.viewChat .received i:hover,.viewChat .sent i:hover{
    color: black;
}
/* /set fa-angle */

.infoBoxDisactive{
    display: none;
}

.infoBox{
    background-color: white;
    position: absolute;
    top: 5px;
    right: 10px;
    width: max-content;
    border-radius: 5px;
    box-shadow: 1px 1px #888888;
}

.infoBox p{
    padding: 10px;
}

.infoBox p:hover{
    background-color: #b1b1b1;
}

.textChat{
    height: 80px;
    background-color :#f3eeea;
    border-left: 1px solid #b1b1b1;
    align-items: center;
}

.inputType{
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 70%;
}

.inputText{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border-style: none;
    outline: none;
    padding-left: 10px;
    font-size: 1em;
}

.iconTextChat{
    width: 10%;
    text-align: center;
    font-size: 30px;
    color: #b1b1b1;
}